fastapi==0.109.2
uvicorn[standard]==0.27.1
python-dotenv==1.0.1
pydantic==2.5.3
langchain==0.1.6
langgraph
langchain-community==0.0.20
langchain-openai==0.0.6
openai
tiktoken==0.5.2
langsmith
google-cloud-bigquery==3.15.0
google-auth
sqlalchemy
sqlalchemy-bigquery
gunicorn==21.2.0